.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(125, 125, 125, 0.1);
    padding: 0.25rem 0;
}

.row:nth-child(even) {
    background-color: rgba(125, 125, 125, 0.03);
}
