.container {
  width: 100%;
  background-image: url("./src/assets/images/front_compressed_large.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.textContainer {
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.company {
  font-family: var(--lb-font);
  color: var(--lb-color);
}
